{
    "rules": {
        "indent": [
            2,
            "tab"
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "windows"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-unused-vars": 1
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "ecmaFeatures": {
        "module": true,
        "modules": true
    },
    "extends": "eslint:recommended",
    "extends": "angular"
}