
<div class="quit-page slideInLeft animated" layout="column" layout-align="center center">
<div class="quit-activity-text_1">Quit Activity?</div>
<div class="quit-activity-text_2">All your progress for this activity will be lost</div>
<div layout="column" layout-align="center center" class="quit-page-button-wrapper">
  <md-content class="md-icon-button md-icon-button-quit-page" ng-click="gotoResultPage()" aria-label="Settings">YES</md-content>
  <md-content class="md-icon-button md-icon-button-quit-page" ng-click="gotoResultPage()" aria-label="Settings">NO</md-content>
</div>
</div>
